<!doctype html>

<html>
  <head>
    <title>For Show - Upload</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/upload.css">
  </head>
  <body>
    This site is currently in development.<br>
    <div class="forms">
    </div>
    <button id="add-item">+</button>
    <button id="submit-form">Upload</button>
    <script
		  src="https://code.jquery.com/jquery-3.3.1.min.js"
		  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
		  crossorigin="anonymous"></script>
		<script>window.jQuery || document.write('<script src="js/jquery-3.4.1.min.js"><\/script>')</script>
    <script src="js/upload.js"></script>
  </body>
</html>
